html, body {
    height: 100%;
    width: 100%;
    background-color: #F0FFFFFF;
}

.layout_root-content {
    height: calc(100% - 56px);
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}